@{
    ViewBag.Title = "经济指标报表";
}
@section styles{
    <style>
        .search-result-table table th {
            width: 100px;
            background-image: url("");
        }

        .search-result-table table tr td:first-child {
            background-color: #efefef;
        }
    </style>
}

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <div class="input-group date">
                <input type="text" name="StartTime" class="form-control input-sm datetime" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>        
        <div class="form-group">
            <label class="control-label">机组</label>
            @Html.Raw(new NativeSelect("MachineSet", true, false) { Source = new EnumControlSourceAttribute(typeof(MachineSetType)).GetSource(), SelectedValue = "", EmptyPair = new NameValuePair { Name = "全部" } }.Render())
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            @Html.Raw(new NativeSelect("MachineSet", true, false) { Source = new EnumControlSourceAttribute(typeof(MachineSetType)).GetSource().Where(i => i.Value != ((int)MachineSetType.MachineSet3).ToString()).ToArray(), SelectedValue = "", EmptyPair = new NameValuePair { Name = "全部" } }.Render())
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>
<div class="search-result table-responsive" style="margin-top: 10px;">
    <div class="search-result-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>1A投入小时</th>
                    <th>1B投入小时</th>
                    <th>A侧液氨量（DCS统计）</th>
                    <th>B侧液氨量（DCS统计）</th>
                    <th>1A脱硝率</th>
                    <th>1B脱硝率</th>
                    <th>#1机综合脱硝率</th>
                    <th>1A投入率</th>
                    <th>1B投入率</th>
                    <th>#1机NOx排放</th>
                    <th>#1机SO2排放</th>
                    <th>#1机粉尘排放</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 31; i++)
                {

                    <tr>
                        <td>@(i)日</td>
                        <td>统计计算点</td>
                        <td>统计计算点</td>
                        <td>未确定</td>
                        <td>未确定</td>
                        <td>日平均</td>
                        <td>日平均</td>
                        <td>日平均</td>
                        <td>统计计算点</td>
                        <td>统计计算点</td>
                        <td>日平均</td>
                        <td>日平均</td>
                        <td>日平均</td>
                    </tr>
                }

                <tr>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                    <td>月平均</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>

        //var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
        //    url: ''
        //}));
        //viewInstance.init();


        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM',

            });
        });
    </script>
}