@model IndicatorItemModel[]
@{
    ViewBag.Title = "指标权重配置";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>指标名称</th>
            <th>权重</th>
            <th>生效时间</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Length; i++)
        {
            var item = Model[i];
            <tr class="kpi-item" itemtype="@item.ItemType">
                <td>@item.Name</td>
                <td style="width:40%"><input type="text" class="form-control input-sm weight" ></td>
                <td style="width:40%">
                    <div class="input-group date">
                        <input type="text" class="form-control input-sm datetime" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<div>
    <button class="btn btn-primary" type="button" id="save">保存</button>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>

        //var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
        //    url: ''
        //}));
        //viewInstance.init();


        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $("#save").click(function () {
                var data = $.makeArray($("tr.kpi-item").map(function (index, element) {
                    var item = {};
                    item.ItemType = $(element).attr("itemtype");
                    item.Weight = $(element).find(":text.weight").val();
                    item.BeginDate = $(element).find(":text.datetime").val();
                    return item;
                }));
                $.ajax({
                    url: "/Indicator/SetWeight",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.IsSuccess == true) {
                            bootbox.alert("保存成功", function () {
                                location.href = location.href;
                            });
                        } else {
                            bootbox.alert(response.Message);
                        }
                    }
                });
            });
        });
    </script>
}