@{
    ViewBag.Title = "欢迎访问";
}

<div class="panel panel-primary" style="visibility: hidden; height: 0px;">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div id="container0"></div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div id="container1" class="col-md-6"></div>
        <div id="container2" class="col-md-6"></div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div id="container3">
            @Html.Partial("_Table1Partial", new Table1Model())
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/highcharts.js"></script>
    <script>

        // Add the background image to the container
        Highcharts.wrap(Highcharts.Chart.prototype, 'getContainer', function (proceed) {
            proceed.call(this);
            this.container.style.background = 'url(http://www.highcharts.com/samples/graphics/sand.png)';
        });

        Highcharts.theme = {
            colors: ["#f45b5b", "#8085e9", "#8d4654", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
            chart: {
                backgroundColor: null,
                style: {
                    fontFamily: "Signika, serif"
                }
            },
            title: {
                style: {
                    color: 'black',
                    fontSize: '16px',
                    fontWeight: 'bold'
                }
            },
            subtitle: {
                style: {
                    color: 'black'
                }
            },
            tooltip: {
                borderWidth: 0
            },
            legend: {
                itemStyle: {
                    fontWeight: 'bold',
                    fontSize: '13px'
                }
            },
            xAxis: {
                labels: {
                    style: {
                        color: '#6e6e70'
                    }
                }
            },
            yAxis: {
                labels: {
                    style: {
                        color: '#6e6e70'
                    }
                }
            },
            plotOptions: {
                series: {
                    shadow: true
                },
                candlestick: {
                    lineColor: '#404048'
                },
                map: {
                    shadow: false
                }
            },

            // Highstock specific
            navigator: {
                xAxis: {
                    gridLineColor: '#D0D0D8'
                }
            },
            rangeSelector: {
                buttonTheme: {
                    fill: 'white',
                    stroke: '#C0C0C8',
                    'stroke-width': 1,
                    states: {
                        select: {
                            fill: '#D0D0D8'
                        }
                    }
                }
            },
            scrollbar: {
                trackBorderColor: '#C0C0C8'
            },

            // General
            background2: '#E0E0E8'

        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);
    </script>
    <script>
        $(function () {
            var url = "/UltraRecord/Pie";
            webExpress.utility.ajax.request(url, "", function (response) {
                pie1(getArray(response.Pie1));
                pie2(getArray(response.Pie2));
            });

            self.setInterval(table1, 5000);
        });

        function pie1(data1) {
            $('#container1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '24小时报警信息'
                },
                //tooltip: {
                //    pointFormat: '{series.name}: <b>{point.y}</b>'
                //},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '{point.name}: {point.y}'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: "次数",
                    data: data1
                }]
            });
        }

        function pie2(data2) {
            $('#container2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '24小时专业报警信息'
                },
                //tooltip: {
                //    pointFormat: '{series.name}: <b>{point.y}</b>'
                //},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '{point.name}: {point.y}'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: "次数",
                    data: data2
                }]
            });
        }

        function table1() {
            var url = "/Home/Table1";
            webExpress.utility.ajax.request(url, "", function (response) {
                $("#container3").html(response);
            });
        }

        function getArray(obj) {
            var tmp = [];
            for (var key in obj) {
                tmp.push([key, obj[key]]);
            }
            return tmp;
        }
    </script>
}