<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorities>
    <authority isDefaultAuthority="true" authorityType="1"  name="后台首页-签约商户" key="IndexShopStatistics"  />
    <authority isDefaultAuthority="true" authorityType="3"  name="后台首页-今日营业额" key="IndexChart"  />
    
    <authority isDefaultAuthority="true" authorityType="1"  name="商品类型管理-查看" key="SkuCategoryView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商品类型管理-添加" key="SkuCategoryAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商品类型管理-修改" key="SkuCategoryUpdate"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商品类型管理-删除" key="SkuCategoryDelete"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="品牌管理-查看" key="BrandView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="品牌管理-添加" key="BrandAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="品牌管理-修改" key="BrandUpdate"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="品牌管理-删除" key="BrandDelete"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="品牌管理-关联商品类型" key="BrandBindTypes"  />

    <authority isDefaultAuthority="true" authorityType="3"  name="商品管理-查看" key="GoodsView"  />
    <authority isDefaultAuthority="true" authorityType="2"  name="商品管理-添加" key="GoodsAdd"  />
    <authority isDefaultAuthority="true" authorityType="2"  name="商品管理-编辑" key="GoodsUpdate"  />
    <authority isDefaultAuthority="true" authorityType="2"  name="商品管理-删除" key="GoodsDelete"  />
    <authority isDefaultAuthority="true" authorityType="2"  name="商品管理-发布" key="GoodsPublish"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="公共商品管理-查看" key="CommonGoodsView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="公共商品管理-添加" key="CommonGoodsAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="公共商品管理-编辑" key="CommonGoodsUpdate"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="公共商品管理-删除" key="CommonGoodsDelete"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="订单管理-查看" key="OrderView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="订单管理-统计" key="OrderStatView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="订单管理-返现" key="Cashback"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="商户管理-查看" key="ShopView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商户管理-打烊" key="ShopDayang"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商户管理-关店" key="ShopClose"  />
    
    <authority isDefaultAuthority="true" authorityType="1"  name="帐号维护-权限设置" key="ShopAccountAuthSet"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="帐号维护-重置密码" key="ShopAccountResetPassword"  />
    <authority isDefaultAuthority="true" authorityType="3"  name="帐号维护-查看" key="ShopAccountView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="帐号维护-添加" key="ShopAccountAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="帐号维护-完善资料" key="ShopAccountIntegrate"  />
    <authority isDefaultAuthority="true" authorityType="2"  name="帐号维护-修改密码" key="ShopAccountModifyPassword"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="会员管理-查看" key="CustomerView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="会员管理-返现" key="CustomerReturn"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="楼宇库-查看" key="CommunityView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="楼宇库-添加" key="CommunityAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="楼宇库-编辑" key="CommunityUpdate"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="楼宇库-删除" key="CommunityDelete"  />

    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-查看" key="AccountView"  />
    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-添加" key="AccountAdd"  />
    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-编辑" key="AccountUpdate"  />
    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-删除" key="AccountDelete"  />
    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-权限设置" key="AccountAuthSet"  />
    <authority isDefaultAuthority="false" authorityType="1"  name="内部帐号管理-修改密码" key="AccountModifyPassword"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="投诉管理-查看" key="SuggestionView"  />
    
    <authority isDefaultAuthority="true" authorityType="1"  name="活动设置-查看" key="ActivityView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="活动设置-添加" key="ActivityAdd"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="活动设置-修改" key="ActivityUpdate"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="商户数据维护-查看" key="ShopBilinView"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商户数据维护-合作" key="ShopBilinAgree"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商户数据维护-暂不合作" key="ShopBilinReject"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="商户数据维护-开通帐号" key="ShopBilinCreateAccount"  />

    <authority isDefaultAuthority="true" authorityType="1"  name="推荐商户管理-查看" key="RecommendShopView" />
  </authorities>
</configuration>
