<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorities>
    <authority isDefaultAuthority="false" authorityType="1"  name="系统设置-账号管理" key="AccountSetting"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="系统设置-班次设置" key="DutySetting"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="系统设置-短信接受组管理" key="SmsGroupSetting"  />
    
    <authority isDefaultAuthority="false" authorityType="2"  name="超限统计-常规超限统计" key="NormalUltraReport"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="超限统计-专业超限统计" key="ProUltraReport"  />
    
    <authority isDefaultAuthority="false" authorityType="2"  name="常规超限配置-设备管理" key="EquipmentSetting"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="常规超限配置-部件管理" key="NormalPartSetting"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="常规超限配置-监控类别管理" key="MonitorSetting"  />

    <authority isDefaultAuthority="false" authorityType="2"  name="专业超限配置-部件管理" key="ProPartSetting"  />
    <authority isDefaultAuthority="false" authorityType="2"  name="专业超限配置-专业" key="MajorSetting"  />
  </authorities>
</configuration>
