<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorities> 
    
    <authority isDefaultAuthority="true" authorityType="1"  name="系统设置-账号管理" key="SettingAccount"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="系统设置-短信设置" key="SettingSms"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="超限统计-统计1" key="Report1"  />
    <authority isDefaultAuthority="true" authorityType="1"  name="超限统计-统计2" key="Report2"  />
  </authorities>
</configuration>
