@model PagedModel<AccountListItemModel>
<div class="search-result-table">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>姓名</th>
                <th>登录名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{

                for (int i = 0; i < Model.Items.Length; i++)
                {
                    var item = Model.Items[i];
                    <tr model-field-entry="Id:@item.AccountId">
                        <td model-field="Name">@item.Name</td>
                        <td model-field="LoginName">@item.LoginName</td>
                        <td class="text-center">
                            <a href="javascript:;" command-name="remove">删除</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="search-result-pagination">
    @Html.Partial("_Pager", Model.PagingResult)
</div>
