@model Website.Controllers.AccountListPageModel
@{
    ViewBag.Title = Model.Title;
}

<h2>List</h2>

<div class="search-action" style="margin-top: 30px;">
    <button class="btn btn-default" command-name="add" command-url="@Model.AddItemUrl">新增</button>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-add">
    @*@Html.Partial("_Modal", new ModalModel { Title = "新增账号", Properties = typeof(AccountAddModel).GetProperties() })*@
    @Html.Partial("_Modal", new ModalModel<AccountAddModel> { Title = "新增账号" })
</div>

<div class="module-update">
    @*@Html.Partial("_Modal", new ModalModel { Title = "新增账号", Properties = typeof(AccountAddModel).GetProperties() })*@
</div>

@section scripts{
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            modules: {
                shopModal: new se.ui.view.ShopModal(new se.ui.view.ShopModal.Settings({
                    OnSelected: function (id, name) {
                        $("#s_shop").val(name);
                        $("#ShopId").val(id);
                    }
                }))
            },
            rowCommands: {
                remove: function (model) {
                    var container = $(this).closest(".table");
                    se.helper.ajax.request({
                        confirmMessage: "您确定删除 " + model.Name + " 吗？",
                        container: container,
                        url: "/Account/Delete",
                        model: { id: model.Id },
                        onSuccess: function () {
                            viewInstance.refresh();
                        }
                    });
                }
            },
            viewCommands: {
                add: function () {
                    $('.module-add .modal').modal("show");
                }
            }
        }));
        viewInstance.init();
    </script>
}