@model UltraRecordListPageModel

@*<div>
    <b>设备：</b>@Model.EquipmentName <b>部件：</b>@Model.PartName 超限记录详情
</div>*@
<div class="search-result table-responsive" style="margin-top: 10px;">
    @Html.Partial("_CommonList", Model.Records)
</div>
