<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="ShopTest10Entities" connectionString="metadata=res://*/ShopTest.csdl|res://*/ShopTest.ssdl|res://*/ShopTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.8.253;initial catalog=ShopTestEntrance731;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="UltralReportsEntities" connectionString="metadata=res://*/UltralModel.csdl|res://*/UltralModel.ssdl|res://*/UltralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UltralReports;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ConnectionString" connectionString="Data Source = .;Initial Catalog = UltralReports;User Id=sa;Password=pwd@123;" providerName="System.Data.SqlClient" />
</connectionStrings>
