<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="UltralReportsEntities" connectionString="metadata=res://*/UltralModel.csdl|res://*/UltralModel.ssdl|res://*/UltralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UltralReports;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>  
</configuration>