@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <style>
        .panel {
            width: 900px;
            background-color: #fff;
            margin: 10% auto;
            padding: 30px 20px 0px 20px;
            text-align: center;
            border:0px;
        }

            .panel h1 {
                font-size: 140px;
                font-weight: bold;
                color: #28B779;
            }
    </style>
</head>
<body>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1>404</h1>
            <h3>您访问的页面不存在</h3>
            <p><a class="btn btn-warning btn-lg" role="button" href="@Url.Action("Index", "Home")">回到首页</a></p>
        </div>
    </div>

</body>
</html>
